<footer class="footer-bg">
  <div class="container">
    <div class="grid-container">

      <div class="logo-container">
        <img src="/assets/icones/Logo-vencimed.svg" alt="VenciMed">
        <p class="brand-description">
          Economia inteligente em produtos de qualidade próximos ao vencimento.
        </p>
      </div>

      <div class="flex-container">
        <div class="item">
          <h3 class="footer-heading">Departamentos</h3>
          <ul class="footer-list">
            <li><a href="#" class="footer-link">Medicamentos e Saúde</a></li>
            <li><a href="#" class="footer-link">Vitaminas</a></li>
            <li><a href="#" class="footer-link">Suplementos</a></li>
            <li><a href="#" class="footer-link">Pele e Beleza</a></li>
            <li><a href="#" class="footer-link">Mamães e Bebês</a></li>
            <li><a href="#" class="footer-link">Higiene Pessoal</a></li>
          </ul>
        </div>
  
        <div class="item">
          <h3 class="footer-heading">Sobre</h3>
          <ul class="footer-list">
            <li><a href="#" class="footer-link">Sobre Nós</a></li>
            <li><a href="#" class="footer-link">Perguntas Frequentes</a></li>
            <li><a href="#" class="footer-link">Contato</a></li>
          </ul>
        </div>
  
        <div class="item">
          <h3 class="footer-heading">Institucional</h3>
          <ul class="footer-list">
            <li><a href="#" class="footer-link">Termos de uso</a></li>
            <li><a href="#" class="footer-link">Políticas de Privacidade</a></li>
            <li><a href="#" class="footer-link">Troca e devoluções</a></li>
          </ul>
        </div>
  
        <div class="item">
          <h3 class="footer-heading">Fale Conosco</h3>
          <ul class="contact-list">
            <li class="contact-item">
              <span>0800 123 4567</span>
            </li>
            <li class="contact-item">
              <span>contato@vencimed.com.br</span>
            </li>
            <!-- <li class="contact-item">
              <lucide-icon name="map-pin" class="contact-icon"></lucide-icon>
              <span>São Paulo, SP<br />Brasil</span>
            </li> -->
          </ul>
        </div>
      </div>

    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 VenciMed. Todos os direitos reservados.</p>
      <p>13.962.070/0001-72 | São Paulo, SP</p>
    </div>
  </div>
</footer>