.sidebar-item__icon {
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  flex-shrink: 0;
  color: var(--vcm-gray-200); 
}

.sidebar-item--active .sidebar-item__icon {
  color: white;
}

.metric-icon {
  width: 1.5rem; 
  height: 1.5rem;
  color: var(--vcm-primary-600); 
}

.export-btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}