<nav class="navbar-sticky">
  <div class="top-stripe"></div>

  <div class="navbar-container">
    <div class="navbar-content">

      <!-- Logo -->
      <div class="logo-wrapper">
        <img src="/assets/imagens/vencimed logo 2.svg" alt="logo VenciMed">

      </div>

      <div class="search-desktop">
        <div class="search-container">
          <input
          type="text"
          placeholder="Insira o nome do produto"
          (input)="onSearchChange($event)"
          class="search-input"
          aria-label="Pesquisar"
          />
          <lucide-icon name="search" class="search-icon" aria-hidden="true"></lucide-icon>
        </div>
      </div>

      <!-- Ações -->
      <div class="actions-wrapper">
        <button class="map-location" type="button">
          <lucide-icon name="map-pin" [size]="30" aria-hidden="true"></lucide-icon>
          <div class="location-text">
            <p>Retirar em</p>
            <p class="cep-user">Insira seu CEP</p>
          </div>
        </button>
        <button class="profile-desktop" type="button" >
          <!-- <lucide-icon name="user" [size]="20" aria-hidden="true"></lucide-icon> -->
          <img src="/assets/icones/user-icon.svg" alt="User">
          <div class="profile-text" aria-hidden="true">
            <p>Olá, Bem-vindo!</p>
            <div class="options-user">
              <p class="profile-login" routerLink="/login">Entrar</p>
              <p>ou</p>
              <p class="profile-login" routerLink="/cadastro">Cadastrar</p>
            </div>
          </div>
        </button>

        <button class="profile-mobile" type="button" aria-label="Entrar">
          <lucide-icon name="user" [size]="24"></lucide-icon>
        </button>

        <button (click)="onCartClick()" class="cart-button" type="button" aria-label="Minha Cesta">
          <div class="cart-icon-wrapper">
            <img src="/assets/icones/cesta.svg" alt="Cesta">
            <!-- <lucide-icon name="shopping-cart" [size]="24" aria-hidden="true"></lucide-icon> -->
            <ng-container *ngIf="(cartItemCount$ | async) as count">
              <span *ngIf="count > 0" class="cart-badge">
                {{ count > 9 ? '9+' : count }}
              </span>
            </ng-container>
          </div>
          <div class="cart-info">
            <span class="cart-text">Minha Cesta</span>
            <span *ngIf="(subTotal$ | async) as subtotal; else zeroSubtotal" class="subtotal-price">
              {{ subtotal.toFixed(2) }}
            </span>
  
            <ng-template #zeroSubtotal>
              <span class="subtotal-price">00,00</span>
            </ng-template>
          </div>
        </button>

      </div>
    </div>

    <div class="search-mobile">
      <div class="search-container">
        <lucide-icon name="search" class="search-icon-mobile" aria-hidden="true"></lucide-icon>
        <input
          type="text"
          placeholder="O que você procura?"
          (input)="onSearchChange($event)"
          class="search-input-mobile"
          aria-label="Pesquisar"
        />
      </div>
    </div>
  </div>
</nav>
