:host {
  display: inline-block;
}

.chip-button {
 
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: none;
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
  cursor: pointer;

 
  background-color: var(--vcm-gray-50);
  color: var(--vcm-gray-700);
  font-weight: 500;
}


.chip-button:not(.selected):hover {
  background-color: var(--vcm-gray-200);
  color: var(--vcm-gray-700);
}


.chip-button.selected {
  background-color: var(--vcm-primary-600);
  color: white;
  font-weight: 600;
}


.chip-button.selected:hover {
  background-color: var(--vcm-primary-600);
  color: white;
}