<div class="login-page-container">
  <div class="login-card">
    <button (click)="handleBackClick()" class="back-button">
      <img src="/assets/icones/arrow-left.svg" alt=""> Voltar
    </button>
    <div class="login-header">
      <img src="/assets/imagens/vencimed logo 2.svg" alt="Logo VenciMed" >
      <h1>Bem-vindo(a) de volta!</h1>
      <p>Continue comprando com economia, qualidade e propósito.</p>
    </div>

    <form (ngSubmit)="handleSubmit(loginForm)" #loginForm="ngForm" class="login-form" novalidate>
      
      <div class="form-field">
        <label for="email">E-mail</label>
        <input
          id="email"
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Insira seu e-mail"
          class="form-input"
          required
          email
          pattern="[a-zA-Z0-9._%+-]+@gmail\.com$"
          #emailInput="ngModel"
          [class.invalid-input]="emailInput.invalid && (emailInput.touched || loginForm.submitted)"
        />
        <div *ngIf="emailInput.invalid && (emailInput.touched || loginForm.submitted)" class="error-message">
          <div *ngIf="emailInput.errors?.['required']">E-mail é obrigatório.</div>
          <div *ngIf="emailInput.errors?.['email']">Formato de e-mail inválido.</div>
          <div *ngIf="emailInput.errors?.['pattern']">O e-mail deve ser @gmail.com</div>
        </div>
      </div>

      <div class="form-field">
        <label for="password">Senha</label>
        <div class="input-icon-wrapper">
          <input
            id="password"
            [type]="passwordFieldType"
            [(ngModel)]="password"
            name="password"
            placeholder="••••••••"
            class="form-input"
            required
            minlength="4"
            #passwordInput="ngModel"
            [class.invalid-input]="passwordInput.invalid && (passwordInput.touched || loginForm.submitted)"
          />
          <button type="button" (click)="togglePasswordVisibility()" class="eye-button" tabindex="-1">
            <i [class]="passwordFieldType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
          </button>
        </div>
        <div *ngIf="passwordInput.invalid && (passwordInput.touched || loginForm.submitted)" class="error-message">
          <div *ngIf="passwordInput.errors?.['required']">Senha é obrigatória.</div>
          <div *ngIf="passwordInput.errors?.['minlength']">A senha deve ter pelo menos 4 caracteres.</div>
        </div>
      </div>

      <div class="form-options">

        <button type="button" (click)="handleRecuperarSenhaClick()" class="forgot-password-button">
          Esqueci minha senha
        </button>
      </div>

      <button type="submit" class="submit-button">
        ENTRAR
      </button>

      <div class="register-redirect">
        <p>Ainda não possui conta?</p> <a href="/cadastro">Criar agora</a>
      </div>

    </form>
  </div>
  <div class="image-section">
    <div class="text-image">
      <h1>Economia para você, menos resíduos para o planeta.</h1>
    </div>
  </div>
</div>