/* paginação */
.paginacao {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
  align-items: center;
}

.paginacao button {
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #5a6058;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.95);
  animation: fadeInScale 0.3s forwards;
  transition: background 0.2s, color 0.2s, transform 0.2s, opacity 0.2s;
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.paginacao .btn-padrao{
  color: var(--vcm-gray-700);
  border: none;
  background: transparent;
  font-weight: 600;

}

.paginacao button.ativo {
  background: var(--vcm-info-bg-2);
  color: var(--vcm-text-2);
  font-weight: 600;
  transform: scale(1.08);
  border: none;
  width: 34px;
  height: 34px;
}

.paginacao button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.paginacao button:not(:disabled):hover:not(.ativo) {
  background: rgba(82, 255, 255, 0.208);
  color: var(--lm-secondary);
  transform: scale(1.04);
}

.paginacao .ellipsis {
  color: #888;
  padding: 0 8px;
  font-size: 1.2em;
  background: transparent;
  cursor: default;
  border-radius: 0;
  width: auto;
  height: auto;
  pointer-events: none;
  display: flex;
  margin-top: 50%;
}