<div class="paginacao">
    <button (click)="paginaAnterior()" [disabled]="paginaAtual === 1">
      <img src="assets/icones/seta-left-icon.svg" alt="Esquerda">
    </button>
    <span *ngFor="let pagina of paginasParaExibir">
      <button
        class="btn-padrao"
        *ngIf="pagina !== '...'; else ellipsis"
        (click)="mudarPagina(pagina)"
        [class.ativo]="paginaAtual === pagina">
        {{ pagina }}
      </button>
      <ng-template #ellipsis>
        <span class="ellipsis">...</span>
      </ng-template>
    </span>
    <button (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas">
      <img src="assets/icones/seta-right-icon.svg" alt="Direita">
    </button>
</div>