.sidenav-container {
 
  width: 100%;
  height: 100vh;
  display: block;
}

.cart-sidenav {
 
  width: 440px;
  max-width: 100vw;
  background-color: white;
}

@media (max-width: 767px) {
  .cart-sidenav {
    width: 100%;
  }
}