
:host {
  display: flex;
  height: 100%;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
}


.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 1px solid var(--vcm-gray-200);
  background: var(--vcm-bg-primary);
}
.header-title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.header-title {
  font-size: 1.25rem;
  color: var(--vcm-gray-50);
  margin: 0;
  font-weight: 600;
}
.header-badge {
  color: var(--vcm-gray-50);
  font-size: 1.25rem;
}
.close-button {
 
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  transition: background-color 0.15s ease-in-out;
  color: var(--vcm-gray-700);
  background: none;
  border: none;
  cursor: pointer;
}
.close-button:hover {
  background-color: var(--vcm-gray-50);
}


.drawer-body {
  flex: 1;
  overflow-y: auto;
}


.empty-state {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 3rem 1.5rem;
  text-align: center;
}
.empty-icon-wrapper {
  width: 8rem;
  height: 8rem;
  border-radius: 9999px;
  background-color: var(--vcm-gray-50);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.empty-icon {
  align-content: center;
  color: var(--vcm-gray-500);
}
.empty-title {
  font-size: 1.125rem;
  color: var(--vcm-gray-900);
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-weight: 600;
}
.empty-subtitle {
  font-size: 0.875rem;
  color: var(--vcm-gray-500);
  margin-bottom: 2rem;
  margin-top: 0;
}


.continue-button {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid var(--vcm-gray-200);
  color: var(--vcm-gray-900);
  background-color: white;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

.continue-button.primary {
  background-color: var(--vcm-bg-primary);
  color: white;
}
.continue-button.primary:hover {
  background-color: var(--vcm-green-500);
  border-color: var(--vcm-green-500);
  color: white;
}

.continue-button.outline{
  border-color: var(--vcm-primary-600);
  background-color: white;
  color: var(--vcm-primary-600);
}

.continue-button.outline:hover{
  background-color: var(--vcm-text-1);
  color: white;
}


.items-list {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item-card {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  padding: 16px;
  border: 1px solid var(--vcm-gray-200);
  border-radius: 24px;
}

.item-image-wrapper {
  width: 6rem;
  height: 6rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--vcm-gray-50);
  flex-shrink: 0;
}
.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-info {
  flex: 1;
  min-width: 0;
}
.item-brand {
  font-size: 0.75rem;
  color: var(--vcm-gray-500);
  margin-bottom: 0.25rem;
  margin-top: 0;
}
.item-name {
  font-size: 0.875rem;
  color: var(--vcm-gray-900);
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-weight: 600;
 
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.item-price-wrapper {
  display: flex;
  align-items: start;
  flex-direction:column-reverse;
  justify-content: center;
  gap: 2px;
}
.item-price-discount {
  color: var(--vcm-green-primary);
  font-weight: 600;
}
.item-price-original {
  font-size: 0.75rem;
  color: var(--vcm-gray-500);
  text-decoration: line-through;
}

.item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.remove-button {
  color: var(--vcm-error-500);
  transition: color 0.15s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
}
.remove-button:hover {
  color: var(--vcm-error-hover);
}

.quantity-options{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--vcm-gray-100);
  border-radius: 12px;
  gap: 8px;
  margin: 0;
  background-color: var(--vcm-gray-50);
}

.quantity-options button{
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  padding: 0 8px;
  cursor: pointer;
  color: var(--vcm-gray-400);
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--vcm-gray-50);
}

.quantity-options span{
  font-size: 20px;
  min-width: 20px;
  color: var(--vcm-gray-700);
  text-align: center;
  background-color: var(--vcm-gray-50);
}


.drawer-footer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subtotal-wrapper {
  border: 1px solid var(--vcm-gray-200);
  background-color: var(--vcm-gray-50);
  padding: 1.25rem 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subtotal-wrapper span:first-child {
  color: var(--vcm-gray-700);
}
.subtotal-price {

  font-size: 1.25rem;
  color: var(--vcm-bg-primary);
  font-weight: 600;
}
.footer-buttons {
 
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}