
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ngx-toastr/toastr.css';

:root {
  --font-size: 16px;
 
  --vcm-primary-900: #0B2B47;
  --vcm-primary-800: #0E3A5A;
  --vcm-primary-700: #124B72;
  --vcm-primary-600: #176891;
  --vcm-primary-100: #E6F4FA;

  --vcm-bg-primary: #155550;
  --vcm-bg-secondary: #80BA53;
  
  --vcm-green-600: #16A34A;
  --vcm-green-500: #22C55E;
  --vcm-green-50: #D6FCC1;
  --vcm-green-primary: #247F78;
  --vcm-green-secondary: #37B3AA;
  --vcm-green-info: #3B5924;
  --vcm-green-info-bg: #80BA5320;
  
  --vcm-warn-500: #F59E0B;
  --vcm-warn: #B8841C;
  --vcm-warn-bg: #D0952015;
  
  --vcm-error-500: #EF4444;
  --vcm-error-hover: #ff1a1a;
  --vcm-error-bg: #FEE2E2;
  --vcm-danger: #D04E34;
  --vcm-danger-bg: #D04E3415;

  --vcm-info-500: #3B82F6;
  --vcm-info: #2096D0;
  --vcm-info-bg: #2095d015;
  
  --vcm-gray-900: #0F172A;
  --vcm-gray-700: #374151;
  --vcm-gray-600: #52687A;
  --vcm-gray-500: #6B7280;
  --vcm-gray-400: #859BAD;
  --vcm-gray-200: #E5E7EB;
  --vcm-gray-200-2: #C2CDD6;
  --vcm-gray-100: #E0E6EB;
  --vcm-gray-50: #F9FAFB;

  --vcm-text-0: white;
  --vcm-text-1: #235B7E;
  --vcm-text-2: #286CA8;
 
  --background: #ffffff;
  --foreground: var(--vcm-gray-900);
  --card: #ffffff;
  --card-foreground: var(--vcm-gray-900);
  --background-footer: #10213B;
}

.dark {
  --background: var(--vcm-gray-900);
  --foreground: #ffffff;
  --card: var(--vcm-gray-900);
 
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
html, body {
  width: 100%;
}


:root {
  --navbar-content-height-mobile: 135px;
  --navbar-search-height-mobile: 68px;
  --navbar-content-height-desktop: 83px;
  --navbar-stripe-height: 0px;

  --navbar-total-height: calc(var(--navbar-content-height-mobile) + var(--navbar-search-height-mobile) + var(--navbar-stripe-height));
}

@media (max-width: 768px) {
  :root {

    --navbar-total-height: calc(var(--navbar-content-height-mobile) + var(--navbar-stripe-height));
  }
}

@media (min-width: 768px) {
  :root {

    --navbar-total-height: calc(var(--navbar-content-height-mobile) + var(--navbar-stripe-height));
  }
}


@media (min-width: 1280px) {
  :root {

    --navbar-total-height: calc(var(--navbar-content-height-desktop) + var(--navbar-stripe-height));
  }
}


html, body {
  width: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.sidebar {
  background-color: var(--vcm-primary-900);
  color: var(--primary-foreground);
}

.metric-card {
  background-color: var(--card);
  border-radius: var(--radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.metric-trend-up {
  color: #16A34A; /* Verde */
}

.metric-trend-down {
  color: #d4183d; /* Vermelho */
}

.metric-trend-warning {
  color: #f39c12; /* Amarelo */
}

.button-primary{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--vcm-text-0);
  background-color: var(--vcm-green-primary);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 18px;
  transition: all 0.2s ease-in-out;

}

.button-primary:hover{
  background-color: var(--vcm-green-secondary);
}
