<!-- HEADER -->
<div #header class="header" id="header" [class.sidebar-open]="isSidebarOpen" [class.left-pd]="isSidebarOpen">
    <div class="header-container">
      <button (click)="toggleSidebar()" class="header-toggle" id="header-toggle">
          <lucide-icon name="menu" [size]="26"></lucide-icon>
      </button>
      
      <div class="header-user">

        <div class="usuario">
          <img src="assets/imagens/user-photo.png" *ngIf="fotoUsuario; else fallbackPhoto" alt="User Photo" class="user-photo" />

          <ng-template #fallbackPhoto>
            <div
              class="user-initial"
              [style.background-color]="getRandomColor(nomeUsuario)"
            >
              {{ getInitial(nomeUsuario) }}
            </div>
          </ng-template>
          
          
          <div class="user-info">
            <h3 class="user-name">{{ nomeUsuario }}</h3>
            <span class="user-cargo">{{ permissaoUsuario }}</span>
          </div>
        </div>
        <button #dropdownToggle (click)="toggleDropdown()" class="dropdown-toggle" id="dropdown-toggle">
          <lucide-icon name="chevron-down" [size]="26"></lucide-icon>
        </button>
        <div class="dropdown-menu" id="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
          <!-- <button  class="dropdown-item">Minha Conta</button> -->
          <button class="dropdown-item" (click)="logout()">Sair</button>
        </div>
      </div>
    </div>
  </div>

  <mat-drawer-container>
  <!-- SIDEBAR -->
  <mat-drawer #sidebar class="sidebar" id="sidebar" mode="side" opened [class.show-sidebar]="isSidebarOpen">
    <div class="sidebar-container">
      <div class="sidebar-logo">
        <div class="sidebar-img">
          <img src="/assets/icones/logo-vencimed.png" alt="image" />
        </div>

        <div class="sidebar-info">
            <img src="assets/icones/vencimed-tipografia 2.svg" alt="image" />
        </div>
      </div>

      <mat-nav-list class="sidebar-content">
        <div>
          <!-- <h3 class="sidebar-title">Home</h3> -->

          <div class="sidebar-list">
            <a routerLink="/sistema/usuario/admin-dashboard" class="sidebar-link" [ngClass]="{'active-link': isActive('/sistema/usuario/admin-dashboard')}">
              <img src="assets/icones/dashboard-icon.svg" alt="home icon" />
              <span>Dashboard</span>
            </a>

            <a routerLink="/sistema/usuario/visualizar-clientes" class="sidebar-link" [ngClass]="{'active-link': isActive('/sistema/usuario/visualizar-clientes')}">
              <img src="assets/icones/clientes-icon.svg" alt="home icon" />
              <span>Clientes</span>
            </a>

            <a routerLink="/sistema/usuario/visualizar-farmacias" class="sidebar-link" [ngClass]="{'active-link': isActive('/sistema/usuario/visualizar-farmacias')}">
              <img src="assets/icones/farmacias-icon.svg" alt="home icon" />
              <span>Farmácias</span>
            </a>
          </div>
        </div>
       

        <!-- <div>
            <h3 class="sidebar-title">Funcionalidades</h3>
  
            <div class="sidebar-list">
              <a routerLink="/usuario/servicos" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/servicos')}">
                <img src="assets/icones/servicos-icon.svg" alt="home icon" />
                <span>Serviços</span>
              </a>

            </div>
        </div> -->
      </mat-nav-list>
    </div>
  </mat-drawer>

  <mat-drawer-content #content class="drawer-content" [class.shifted]="isSidebarOpen">
    <div>
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
